.flex-container {
  display: flex;
  flex-flow: row wrap;
  margin: 100px;
  border: 2px solid grey;
  padding: 20px;

}
.layer {
  overflow: scroll;
  width: 40%;
  height: 500px;
  padding: 5px;
  border: solid 1px black;
}

.countryCard{
  padding:20px 50px;
  font-size:20px;
}

.country {
  text-align: center;
}